<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Список студентов</h1>
    <a class="button" th:href="@{/students/new}">
        Добавить студента
    </a>
    <p th:if="${!students.iterator().hasNext()}">
        Список студентов пустой
    </p>
    <table th:if="${students.iterator().hasNext()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>ВУЗ</th>
            <th>Курс</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.patronymic}"></td>
            <td th:text="${student.university}"></td>
            <td th:text="${student.course}"></td>

            <td>
                <a th:href="@{/students/details/{id}(id=${student.id})}">
                    Подробнее
                </a>

                <a th:href="@{/students/update/{id}(id=${student.id})}">
                    Изменить
                </a>

                <a th:href="@{/students/delete/{id}(id=${student.id})}"
                   onclick="return confirm('Удалить студента?')">
                    Удалить
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>